  <div class="page">
    <div class="page-wrapper">
      <div class="container-xl">
        <div class="row row-deck">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">e-Cidade Administrador</h3>
              </div>
              <div class="card-body">
                <p>Bem-vindo ao painel do Administrador do e-Cidade!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
