<div class="page page-center">
    <div class="container container-tight py-4">
    <div class="text-center mb-4">
        <a href="#" class="navbar-brand">
            <img src="assets/logo.png" class="logo" height="36" alt="Logo">
        </a>
    </div>
    <form class="card card-md">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Acesse sua conta</h2>
            <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="email" class="form-control" placeholder="Digite seu e-mail">
            </div>
            <div class="mb-2">
                <label class="form-label">
                Senha
                <a href="/esqueci-senha" class="float-end small">Esqueceu a senha?</a>
                </label>
                <input type="password" class="form-control" placeholder="Digite sua senha">
            </div>
            <div class="mb-2">
                <label class="form-check">
                <input type="checkbox" class="form-check-input">
                <span class="form-check-label">Lembrar-me</span>
                </label>
            </div>
            <!-- Botão "Entrar" -->
            <div class="form-footer">
                <button class="btn btn-primary w-100">Entrar</button>
            </div>

            <!-- Linha de separação OR -->
            <div class="hr-text">ou</div>

            <!-- Botões de Login Alternativo -->
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-outline-primary w-100">
                        <img src="assets/govbr_logo.svg" alt="Gov.br" class="auth-icon"> Login Gov.br
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-outline-secondary w-100">
                        <img src="assets/libresign_logo.svg" alt="LibreSign" class="auth-icon"> Login LibreSign
                    </a>
                </div>
            </div>
        </div>
    </form>
    <div class="text-center text-muted mt-3">
        Não tem uma conta? <a href="/criar-conta">Criar conta</a>
    </div>
    </div>
</div>
